<%# app/views/sessions/new.html.erb %>
<%#= link_to "Authenticate with Google!", '/auth/google_oauth2' %>
<div class='jumbotron col-md-4 col-md-offset-4'>
  <h1>Shift</h1>
  <div class='lead'><h2>Notify the people who care about you, when you need them the most.</h2></div>
  <div class='col-md-offset-4' id='login'>
    <%= form_tag sessions_path do %>
      <div>
        <%= text_field_tag :email, params[:email], :placeholder => "Email" %>
      </div>
      <div>
        <%= password_field_tag :password, params[:password], :placeholder => "Password" %>
      </div>
      <div>
        <%= submit_tag 'Login' %>
      </div>
    <% end -%>
  <%= link_to "Signup", '/users/new', :id => "signUp" %>
  </div>
  <div class='col-md-offset-4' id='newUser'>
    <%= form_for @user do |f| %>
      <%= f.text_field :first_name, placeholder: "First Name" %>
      <%= f.text_field :last_name, placeholder: "Last Name" %>
      <%= f.text_field :phone, placeholder: "Phone Number" %>
      <%= f.text_field :gmail, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.password_field :password_confirmation, placeholder: "Enter password again" %>
      <%= f.submit "Create Account" %>
    <% end %>
    <%= link_to "Login", '#', :id => "signIn" %>
  </div>
</div>



