<% User.first.all_twitter? %>
<div id='wrapper' class='settingsShow widthFull'>
  <div id='sidebar-wrapper' class='inline-flex'>
    <ul class='sidebar-nav'>
      <li id='monitorSettings' class='sideNav'><a href="#">Monitors</a></li>
      <li id='supportSettings' class='sideNav'><a href="#">Support Network</a></li>
      <li id='notificationsSettings' class='sideNav'><a href="#">Notifications</a></li>
    </ul>
  </div>
  <div id='page-content-wrapper' class='inline-flex'>
    <div id='supportersShow'>
      <div class='newSupporter'>
        <%= render 'supporters/form', locals: {user: @user} %>
      </div>
      <div id='network'>
        <% @user.supporters.each do |supporter| %>
          <ul class='supportContainer'>
            <% if @user.supporters.nil? %>
              You have no one in your support network! Add some!
            <%end %>
            <li>
              <%= supporter.first_name %> <%= supporter.last_name %>
            </li>
            <li>
              <%= supporter.phone %>
            </li>
            <%= link_to 'Edit', edit_user_supporter_path(current_user, supporter), :class => "editSupporter" %> <%= link_to 'Delete', delete_supporter_path(current_user, supporter), :class => "deleteSupporter" %>
          </ul>
        <% end %>
      </div>
    </div>
    <div id='notificationsShow'>
      <div id='notifications'>
      <div class='table'>
        <div class='thead'>
          <div class='tr'>
            <div class='td'>Active?</div>
            <div class='td'>Days of Inactivity</div>
            <div class='td'>Message</div>
            <div class='td'></div>
            <div class='td'></div>
          </div>
        </div>
        <div class='tbody'>
          <% @user.triggers.each do |trigger| %>
            <div class='tr'>
              <div class='td'>
                <%= link_to raw("<div class='ellipse inline-block'>
                <div class='circle inline-block '>
                </div>
                </div>"), trig_toggle_path(trigger), :class => trigger.active ? "toggleTwitterTriggers" : "toggleTwitterTriggers marginNineteen" %>
              </div>
              <div class='td add-substract-days'>
                <div class='inline-flex'>
                  <%= link_to raw('<i class="fa fa-plus"></i>'), trig_inc_path(trigger), :class =>"toggle-up" %>
                </div>
                <div class='inline'>
                  <span class='incDays'>
                    <%= trigger.duration_in_hours %>
                  </span>
                </div>
                <div class="inline">
                <%= link_to raw('<i class="fa fa-minus"></i>'), trig_dec_path(trigger), :class => "toggle-down" %>
                </div>
              </div>
              <div class='td'>
                <%=trigger.message_text[0..18] %>...
              </div>
              <div class='td'>
                <%= link_to 'edit', edit_trigger_path(trigger), :class => 'editTrigger' %>
              </div>
              <div  class='td'>
                <a href="/triggers/<%=trigger.id%>/delete" class='trigDelete'>delete</a>
              </div>
            </div>
            <div class='tr'>
            <div class='messageHolder maxWidth'>
              <textarea class='triggerMessage' name='message_text' value='<%=trigger.message_text%>'></textarea>
              <button class='block'>update message</button>
            </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id='monitorsShow'>
      <div class='block'>
        <%= link_to raw("<div class='ellipse inline-block'>
          <div class='circle inline-block'>
            </div>
          </div>"), toggle_twitter_trig_path(current_user), :id =>'toggleTwitterTriggers', :class => current_user.all_twitter? ? "" : "marginNineteen" %>
          <% if current_user.all_twitter? %>
            Twitter Monitoring: <span>Active</span>
          <% else %>
            Twitter Monitoring: <span>Inactive</span>
          <% end %>
      </div>
      <div class='block'>
        <%= link_to raw("<div class='ellipse inline-block'>
            <div class='circle inline-block'>
            </div>
          </div>"), toggle_google_trig_path(current_user), :id => 'toggleGoogleTriggers', :class => current_user.all_email? ? "" : "marginNineteen" %>
        <% if current_user.all_email? %>
            Google Monitoring: <span>Active</span>
          <% else %>
            Google Monitoring: <span>Inactive</span>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div class='block marginLeftForNav' id='newTriggerContainer'>
  <div id='showNewTrigger' class='marginForChildren'>
    add new notification
  </div>
  <div id='newTriggerSettings' class='block'>
    <%= render "triggers/new", locals: {user: @user} %>
  </div>
  <div id='editTriggerSettings'>
  </div>
</div>
