<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class='navbar-header'>
        <span class='navbar-brand'>Welcome <%= @user.first_name %></span>
      </div>
      <div class='collapse navbar-collapse'>
        <ul class='nav navbar-nav'>
          <li><a href="#" class='navLink' id='home'>Home</a></li>
          <li><a href="#" class='navLink' id="activity">Activity</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle navLink" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
            <ul class="settings dropdown-menu sidebar-nav" role="menu">
              <li id='supportSettings' class='sideNav'><a href="#">Support Network</a></li>
              <li id='notificationsSettings' class='sideNav'><a href="#">Notifications</a></li>
            </ul>
        </li>
        <li class='right'><%= link_to 'Logout', logout_path %></li>
        </ul>
      </div>
  </nav>
  <div id='userContainer'>
    <div id='userHome'>
      <%= render "home", locals: {user: @user} %>
    </div>
    <div id='userActivity'>
      <%= render "activity", locals: {user: @user} %>
    </div>
    <div id='userSettings'>
      <%= render "settings", locals: {user: @user} %>
    </div>
    <div id='userAccount'>
      <%= render "account", locals: {user: @user} %>
    </div>
</div>
