<li>
  <%= @supporter.first_name %> <%= @supporter.last_name %>
</li>
<li>
  <%= @supporter.phone %>
</li>
<li>
  <%= @supporter.gmail %>
</li>
<li>
  <%= @supporter.twitter %>
</li>
<%= link_to 'Edit', edit_user_supporter_path(@user, @supporter), :class => "editSupporter" %>
