<%= form_for @trigger do |f| %>
<%= @error %>
  <div class='col-md-6'>
    <div class='inline-block width155'>
      <select name='method'>
        <option value="check_email_activity">Email Activity</option>
        <option value="Email Sentiment">Email Sentiment</option>
        <option value="Twitter Sentiment">Twitter Sentiment</option>
      </select>
      Message:
    </div>
    <div class='inline-block'>
      <div><i id="toggle-up" class="fa fa-chevron-up"></i></div>
        <div class='inline-block'> <span id='incDays'>1</span> <span id='day'>day</span> :</div>
      <div><i id="toggle-down" class="fa fa-chevron-down"></i></div>
    </div>
    <%= f.text_area :message_text, size: '30x3' %>
    <%= f.submit 'Add Notification' %>
  </div>
  <div class='col-md-6'>
    <%= f.text_field :duration_in_hours%>
  </div>
<% end %>
<div class="my_triggers"></div>
