<div class='tr'>
  <div class='td'>
    <%= link_to raw("<div class='ellipse inline-block'>
    <div class='circle inline-block '>
    </div>
    </div>"), trig_toggle_path(@trigger), :class => @trigger.active ? "toggleTwitterTriggers" : "toggleTwitterTriggers marginNineteen" %>
  </div>
  <div class='td'>
    <div class='inline-flex'>
      <%= link_to raw('<i class="fa fa-plus inline-block toggle-up"></i>'), trig_inc_path(@trigger) %>
    </div>
    <div class='inline-block'>
      <span class='incDays'>
        <%= @trigger.duration_in_hours %>
      </span>
    </div>
    <div>
    <%= link_to raw('<i class="fa fa-minus inline-block toggle-down"></i>'), trig_dec_path(@trigger) %>
    </div>
  </div>
  <div class='td'>
    <%=@trigger.message_text[0..18] %>...
  </div>
  <div class='td'>
    <%= link_to 'edit', edit_trigger_path(@trigger), :class => 'editTrigger' %>
  </div>
  <div  class='td'>
    <a href="/triggers/<%=@trigger.id%>/delete" class='trigDelete'>delete</a>
  </div>
</div>
