<div class='tr'>
  <div class='toggleSwitch td'>
    <%= link_to raw("<div class='ellipse inline-block'>
    <div class='circle inline-block '>
    </div>
    </div>"), trig_toggle_path(@trigger), :class => @trigger.active ? "toggleTwitterTriggers" : "toggleTwitterTriggers marginNineteen" %>
  </div>
  <div class='td add-substract-days'>
    <div class='inline-flex'>
      <%= link_to raw('<i class="fa fa-plus"></i>'), trig_inc_path(@trigger), class: "toggle-up" %>
    </div>
    <div class='inline'>
      <span class='incDays'>
        <%= @trigger.duration_in_hours %>
      </span>
    </div>
    <div class="inline">
    <%= link_to raw('<i class="fa fa-minus"></i>'), trig_dec_path(@trigger), class: "toggle-down" %>
    </div>
  </div>
  <div class='td'>
    <%=@trigger.message_text[0..18] %>...
  </div>
  <div class='td'>
    method
  </div>
  <div class='editTrigger td'>
    <a href=""><i class="fa fa-pencil"></i></a>
    <%= link_to 'edit', edit_trigger_path(@trigger), :class => 'editTrigger' %>
  </div>
  <div  class='deleteTrigger td'>
    <a href="/triggers/<%=@trigger.id%>/delete" class='trigDelete'><i class="fa fa-trash"></i></a>
  </div>
</div>
